.company-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  max-width: 800px;
  max-height: 400px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 11rem;
}

.company-description p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
}

.company-description p:first-child {
  margin-top: 0;
}

.company-description p:last-child {
  margin-bottom: 0;
}

.company-description h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.company-description h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

.company-description h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

body {
  background-color: #f7eded;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f7eded;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin-left: 33rem;
}

@media (min-width: 1920px) {
  .about-container {
    margin-left: 10.5rem;
    margin-top: 3rem;
  }
}
