.App {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App-header {
  margin-bottom: 20px;
  font-size: 24px;
}

#comp-img {
  width: 250px;
}

main > aside {
  min-width: 10vw;
  min-height: 80vh;
}

main {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*   single icecream page   */

.single-icecream-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #ffefd5, #ffdab9);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.single-icecream-container h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #8b4513;
}

.single-icecream-container h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #a0522d;
}

.single-icecream-container .images-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* Adjusted to create space between images */
}

.single-icecream-container img {
  width: 40%;
  height: auto;
  border-radius: 15px;
}

.single-icecream-container p {
  font-size: 1.2rem;
  color: #8b4513;
}

.single-icecream-container button {
  margin: 0.5rem;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #f4a460;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.single-icecream-container button:hover {
  background-color: #cd853f;
}

footer {
  padding: 10px;
  min-height: 10vh;
  background-color: grey;
  width: 100;
  text-align: center;
  transition: color 0.3s;
}

footer:hover {
  color: red;
}

/*   Account page   */

.account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #f9e8ff, #d5f7ff);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin: 20px auto;
}

.account-container h2 {
  font-size: 1.8rem;
  color: #330f49;
  margin-bottom: 15px;
}

.account-container p {
  font-size: 1.2rem;
  color: #666;
  margin: 15px 0;
}

header > h1 {
  font-family: "Brush Script MT", cursive;
  font-size: 3rem;
  margin-left: 40rem;
  position: absolute;
}

header {
  display: flex;
  justify-content: space-between;
}

/*   Cart.jsx   */

.ShoppingCart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #f9e8ff, #d5f7ff);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 0 auto;
}

.ShoppingCart-container h2 {
  text-align: left;
  margin-bottom: 20px;
  font-size: 3rem;
  margin-right: 2rem;
}

.ShoppingCart-container .error {
  color: red;
  margin-bottom: 20px;
}

.ShoppingCart-container .cart-items-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ShoppingCart-container .cart-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.ShoppingCart-container .cart-item p {
  margin: 0;
  margin-bottom: 5px;
}

.ShoppingCart-container .cart-item button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  align-self: flex-end;
  width: auto;
  margin-top: 0px;
}

.ShoppingCart-container .total-price {
  text-align: right;
  margin-top: 20px;
  font-weight: bold;
}

.ShoppingCart-container .checkout-button a {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  text-decoration: none;
  color: inherit;
}

.ShoppingCart-container .checkout-button:hover {
  background-color: #45a049;
}

.ShoppingCart-container .empty-cart {
  text-align: center;
  margin-top: 20px;
}
